@import url('https://fonts.googleapis.com/css?family=Fjord+One');

body {
  font-family: 'Fjord One', serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.content {
  padding: 1rem;
}
