@font-face {
  font-family: 'Junction';
  src: url('./fonts/Junction-regular-webfont.woff');
}

@font-face {
  font-family: 'Junction';
  src: url('./fonts/Junction-bold-webfont.woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Junction';
  src: url('./fonts/Junction-light-webfont.woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Prociono';
  src: url('./fonts/Prociono-Regular-webfont.woff');
}

:root {
  --maroon: #49132E;
}

body {
  font-family: 'Junction', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

section {
  padding: 30px 15px 0;
}

.content {
  margin-top: 54px;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Prociono', serif;
}

@media screen and (max-width: 640px) {
  .content {
    padding-bottom: 46px;
  }
}
